html {box-sizing: border-box;}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --logo-color: #2196F3;
  --descript-color: #757575;
  --addres-footer-color: rgba(255, 255, 255, 0.6);
  --font-color: #212121;
  --background-button: #F5F4FA; 
  --dark-background-color: #FFFFFF;
  --fix: tomato;
}

h1,h2,h3 {margin: 0px;}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
    margin: 0px;
    font-family: roboto, sans-serif;
    /* font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; */
    /* background-color: turquoise; */
  }

  img {
    display: block;
     max-width: 100%;
     object-fit: cover;
     height: auto;
  }

.container {
width: 1200px;
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;
/* outline: 2px solid var(--fix); */
}


/* =====header===== */
.header__address {
  margin-left: auto;
}
header .item + .item {margin-left: 50px;}

header p {margin: 25px 0px;}
header .link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--font-color);
  display: block;
  padding: 31px 0px;
}
  header .link:hover, header .link:focus {
    color: var(--logo-color);
  }

.logo { color: var(--logo-color) ;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  margin-right: 93px;
 } 
  .logo_Studio { color: var(--font-color);}
  .addres-link:not(:last-child) {margin-right: 50px;}
 

.addres-link 
{font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
 color: var(--descript-color);
}
 .addres-link:hover, .addres-link:focus {
color: var(--logo-color);
 }
 
 nav .current {
  color: var(--logo-color);}

  .leveling {display: flex;
    align-items: baseline;
  }
  .header__nav {display: flex;
    align-items: baseline;}
  .header__list {display: flex;}
  header {
    border-bottom: 1px solid #ECECEC;}
    main p {margin-bottom: 0px;}

    
    /* =====section===== */
    .section__joint {
      padding: 94px 0px;
    }

/* =====hero===== */
.hero {
   background-color: #2F303A;}
.hero .title { 
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-background-color) ; 

margin-bottom: 30px ;}
.hero__bloс {
  /* margin-right: auto;
  margin-left: auto;
  padding:200px 0px;
  text-align: center; 
  max-width: 696px;*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  max-width: 696px;
  min-height: 600px;
  margin: auto;
  padding: 0px 15px;
  
}

  /* =====button===== */
  .button {cursor: pointer;
  }
  .hero .button {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.875;
/* align-items: center; */
text-align: center;
letter-spacing: 0.06em;
color: var(--dark-background-color);
background-color: var(--logo-color);
padding: 10px 32px;
  }
/* =====filter===== */
  .filter .button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-color);
    background: var(--background-button);

    padding: 6px 22px;
  }
  .button:hover, .button:focus {
color: var(--dark-background-color);
background-color: var(--logo-color);
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    
  }
/* .bbbutton {border-radius: 4px;
  font-size: 16px;
  padding: 6px 22px;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;


  color: tomato;
  background-color: blue;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;} */


/* =====advantages===== */
.advantages {
  padding-top: 94px;
}
.advantages__list {
  display: flex;}

.advantages__item:not(:last-child) {margin-right: 30px;
}
.advantages__item {
  width: calc((100% - 90px) / 3);
}

.advantages__title{
  font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--font-color);

margin-top: 0px;
margin-bottom: 10px;
}
.advantages__descript {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color:var(--descript-color);
  margin: 0px ;}

  /* =====specialty===== */
  .specialty {
      }
  .specialty__list {
    display: flex;
  }
  .specialty__item {
    width: calc((100% - 60px) / 3);
    /* flex-basis: calc((100% - 60px)/3); */
  }
  .specialty__item + .specialty__item {
    margin-left: 30px;
  }

     /* =====надання фоткам адаптації===== */
  .specialty__item img {
    display: block;
     max-width: 100%;
     object-fit: cover;
  }
  /* =====надання фоткам адаптації===== */


.specialty__title {
font-family: Roboto;
font-weight: bold;
font-size: 36px;
line-height: 1.167;
text-align: center;
letter-spacing: 0.03em;
color: var(--font-color);

 margin-bottom: 50px;
}

/* =====team===== */
.team {
  background-color: var(--background-button);
  }
.team__list {
  display: flex;
}
.team__item + .team__item { 
  margin-left: 30px ;
}
.team__item {
  width: calc((100% - 90px)/3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team__title{
  font-family: Roboto;
    font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);

  margin-bottom: 50px;
}
.team__img {
}
.team__card {
  padding-bottom: 30px;
  padding-top: 30px;
  
}
.team__subtitle {font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color);

  margin-bottom: 10px;
  }
  .team__descript {
    font-family: Roboto;
font-weight: normal;
font-size: 16px;
line-height: 1.1875;
text-align: center;
letter-spacing: 0.03em;
color:var(--descript-color);

margin-bottom: 0px;
margin-top: 0px;
  }

  
/* =====Portfolio===== */
.our_projects a {
  display: block;}
.our_projects {
  }
.our_projects__img-hover {
  }
.our_projects__card {
  padding: 20px 24px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
}
.our_projects__title {
  font-family: Roboto;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--font-color);

margin-bottom: 4px;
}
.our_projects__descript {
  font-family: Roboto;
font-weight: normal;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--descript-color);

margin-top: 0px;
margin-bottom: 0px;
}

/* =====filter===== */
.filter {
  }
.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

/* =====our_projects__list===== */
.our_projects__list {
  display: flex;
  flex-wrap: wrap;
  }
  .our_projects__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .our_projects__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  } 
  .our_projects__item {
    width: calc((100% - 60px)/3);
  }

  /* =====footer===== */
.page-footer .container {
  padding:60px 0px ;}
.page-footer p {
  margin-top: 0px;
  margin-bottom: 0px;}
.page-footer .logo {
  display: inline-block;
  margin-right: 0px;
  padding-bottom: 20px;
}
.page-footer .logo_Studio {
  color: var(--dark-background-color);}
.page-footer {
  background-color: #2F303A;
}
.page-footer address { 
  color: var(--dark-background-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;

  display: flex;
  flex-direction: column;
  font-style: normal;
  }
  .footer_link:hover, .footer_link:focus { 
 color: var(--logo-color);
  }
.page-footer address a {
  color: rgba(255, 255, 255, 0.6);
 }


/* ====кусочок коду для приховування непотрібно-технічного заголовку===
===hidden=== */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;}